#resume {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#resume:hover {
  filter: gray;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

/********** CRUISE AUTOMATION **********/

.thumb-cruise { 
  width: 260px; 
  margin-bottom: 10px
}

.thumb-img-cruise {
  width: 245px;
  height: 125px;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.thumb-img-cruise:hover {
  filter: gray;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.title-cruise { 
  width: 245px; 
  font-family: 'liani-font'; 
  font-size: 2em; 
  padding-top: 5px;
}

.blurb-cruise { 
  width: 245px; 
  word-wrap: break-word; 
}

/********** GRID IMPACT **********/

.flex-container-grid {
  padding: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.thumb-grid { 
  width: 260px; 
  margin-bottom: 10px
}

.thumb-img-grid {
  width: 245px;
  height: 125px;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.thumb-img-grid:hover {
  filter: gray;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.title-grid { 
  width: 245px; 
  font-family: 'liani-font'; 
  font-size: 2em; 
  padding-top: 5px;
}

.blurb-grid { 
  width: 245px; 
  word-wrap: break-word; 
}