/* ----- TEXT ----- */

h1 {
	font-size: 48px;
}

.gridTitle {
	font-size: 24px;
}

.gridSubtitle {
	font-size: 12px;
	color: #C0C0C0;
}

#about {
	position: relative;
	top: 35px;
}

/* ----- MENU ----- */
#menu {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background: #333333;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	float: center;
	display: inline;
}

.menuLink {
	text-decoration: none;
	display: inline-block;
	width: 100px;
}

.menuLink:link {
	color: white;
}

.menuLink:visited {
	color: white;
}

.menuLink:hover {
	color: gray;
}

#footer {
	background: #26262E;
	color: white;
	padding: 0.5em;
}

/* ----- SLIDER ----- */


/* ----- FOLIO ----- */
.content{
	width: 50%;
	margin: 0 auto;
}

.keyInfo{
	width: 20%;
	position: relative;
	top: 50px;
	float: left;
}

.story{
	width: 50%;
	position: relative;
	top: 50px;
	float: right;
}

.folioLink {
	text-decoration: none;
	color: 
}