.wrapper {
    width: 1400px;
}


/***** PANELS *****/

img.panel {
    border-style: solid; 
    border-width: 1px; 
    border-color: white;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

img.panel:hover {
    border-style: solid; 
    border-width: 1px; 
    border-color: #2C85C9;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    cursor: hand;
}

.clicked {
    border-style: solid; 
    border-width: 1px; 
    border-color: #2C85C9;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}


/***** CONTENT *****/

img.content {
    width: 675px;
    border-style: solid; 
    border-width: 0px; 
    border-color: white;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.annotation {
    margin-left: 15px;
    margin-top: -10px;
    width: 675px;
    overflow: visible;
    height: 0px;
}

.annotation.hide {
    display: none;
}