@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');

body {
	background-image: url('../images/overlay.png'), url('../images/bg.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
}

a:hover {
	color: red;
}


/* NAV BAR */
nav {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 55px;
	background: white;

	padding-top: 15px;
	text-align: center;
}

	nav a {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
	}


/* SECTIONS */
.section-container {
	position: fixed;
	top: 70px;
	height: 100%;
	width: 96%; /* SUPER HACKY - no idea why text truncates at 100%... */
	padding: 10px;
}

	/* ABOUT SECTION */
	#blurb {
		width: 50%;
		height: 100%;
		float: left;
	}

	/* PORTFOLIO SECTIONS */
	.grid-container {}

		.grid-item{
			background-color: red;
			height: 300px;
			width: 300px;
		}

			.grid-image {}

			.grid-title {}

			.grid-caption{}


/* VISIBILITY */
.hide {
	display: none;
}


/* IMAGE RESIZING */

.img-container {
	position: relative;
	overflow: hidden;

	width: 50%;
	height: 100%;
	background: red;
	float: right;
}

img.clipped {
	/*display: block;*/
	position: absolute;
/*	height: 100%;
	width: 100%;*/
}
