@charset 'UTF-8';

@font-face {
	font-family: 'lato', sans-serif;
	src: 'http://fonts.googleapis.com/css?family=Lato:400,700';
	/* https://www.google.com/fonts#UsePlace:use/Collection:Lato */
}

@font-face {
	font-family: 'droid serif', serif;
	src: 'http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css';
	/* https://www.google.com/fonts#UsePlace:use/Collection:Droid+Serif */
}

body {
/*	background-image: url('../images/overlay.png'), url('../images/bg.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;*/
	background-color: white;
}

a:hover {
	color: red;
}

.hide {
	display: none;
}

td {
	/*border: 1px solid black;*/
	width: 425px;
}


/***** NAV BAR *****/
nav {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 55px;
	/*background: white;*/
	background-image: url('../images/overlay.png'), url('../images/bg.jpg');
	background-size: auto, 100% 100%;*/

	padding-top: 15px;
	text-align: center;

	font-family: 'lato';
}

	nav a {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
	}


/***** SECTIONS *****/
.section-container {
	height: 100%;
	width: 96%;
	margin-top: 70px;
	padding-top: 100px;
	padding: 10px;
}

	#about { position: fixed; }

	#portfolio { }

	/* ABOUT SECTION */
	#blurb {
		width: 50%;
		height: 100%;
		float: left;
	}

	/* PORTFOLIO SECTIONS */
	.grid-container {}

		.item{
			margin-bottom: 20px;
			height: 250px;
			width: 400px;
			/*height: 125px; */
			/*width: 200px;*/
			/*background-color: red;*/
		}

		.item-image {
			height: 195px;
			width: 400px;
			/*height: 92px;*/
			/*width: 200px;*/
			background-color: green;
		}

		.item-title {
			background-color: white;
			font-family: 'lato';
			font-size: 30px;
			/*font-size: 15px;*/
		}

		.item-blurb {
			font-family: 'droid serif';
			background-color: white;
		}







/* !!!!!!!!!!!!! SHELVE FOR LATER !!!!!!!!!!!!!! */


/***** IMAGE RESIZING *****/
.img-container {
	position: relative;
	overflow: hidden;

	width: 50%;
	height: 100%;
	background: red;
	float: right;
}

img.clipped {
	/*display: block;*/
	position: absolute;
/*	height: 100%;
	width: 100%;*/
}
