@charset 'UTF-8';

body {
/*	background-image: url('../images/overlay.png'), url('../images/bg.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;*/
	background-color: gray;
}

a:hover {
	color: red;
}

.hide {
	display: none;
}

table, td { border: 1px solid black; }


/***** NAV BAR *****/
nav {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 55px;
	background: white;

	padding-top: 15px;
	text-align: center;
}

	nav a {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
	}


/***** SECTIONS *****/
.section-container {
	height: 100%;
	width: 96%;
	margin-top: 70px;
	padding-top: 100px;
	padding: 10px;
}

	#about { position: fixed; }

	#portfolio { }

	/* ABOUT SECTION */
	#blurb {
		width: 50%;
		height: 100%;
		float: left;
	}

	/* PORTFOLIO SECTIONS */
	.grid-container {}

		.item{
			margin-bottom: 20px;
			height: 250px;
			width: 400px;
			background-color: red;
		}

		.item-image {
			height: 195px;
			width: 400px;
			background-color: green;
		}

		.item-title {
			background-color: white;
			font-size: 30px;
		}

		.item-blurb {
			background-color: white;
		}







/* !!!!!!!!!!!!! SHELVE FOR LATER !!!!!!!!!!!!!! */


/***** IMAGE RESIZING *****/
.img-container {
	position: relative;
	overflow: hidden;

	width: 50%;
	height: 100%;
	background: red;
	float: right;
}

img.clipped {
	/*display: block;*/
	position: absolute;
/*	height: 100%;
	width: 100%;*/
}
