/********** GENERAL **********/

.box {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.index-wrapper {
  display: inline-block;
}

:root {
  /* Defined */
  --liani-blue: #2C85C9;
  --inner-right-width: 540px;
  --pp-scaledown: 0.35;

  /* Calculations */
  --pp-size: calc(var(--inner-right-width)*var(--pp-scaledown));
}

a { color: var(--liani-blue); text-decoration: none; }
a:visited { text-decoration: none; color: var(--liani-blue); }
a:hover { color: white; background-color: var(--liani-blue); }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.pp {
  /* set img size + circular appearance */
  max-height: var(--pp-size);
  max-width: var(--pp-size);
  border-radius: 50%;

  /* horizontally flip img */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

}

/********** GENERAL TEXT STYLES **********/

@charset 'UTF-8';

@font-face {
  font-family: 'liani-font';
  src: url('liani.ttf');
}

@font-face {
  font-family: 'courier';
  src: url('cour.ttf');
}

/********** MOBILE STYLES **********/

body {
  font-family: courier;
  font-size: 1em;
}

h1 {
  font-family: 'liani-font';
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
  }

h2 {
  font-family: 'liani-font';
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  font-family: courier;
  font-size: 1em;
  font-weight: normal;
}

.container {
  margin-top: 0;
  max-width: 1000px;
}

.row::before,
.row::after {
  display: table;
  content: ' ';
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

/********** DESKTOP STYLES **********/

@media only screen and (min-width: 800px) {
  .one-fourth {
    width: calc(100% / 4);
  }
  .three-fourths {
    width: calc(100% / 4 * 3);
  }
  .column {
    float: left;
  }

  h1 {
    font-family: 'liani-font';
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
  }

  h2 {
    font-family: 'liani-font';
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 0px;
  }

  p {
    font-family: courier;
    font-size: 1.1em;
    font-weight: normal;
  }


}
