@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');

body {
	background-image: url('../images/overlay.png'), url('../images/bg.jpg');
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
}

img {
	/*height: 100%;*/
	width: 100%;
}

/* NAV BAR */
nav {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 55px;
	background: white;

	padding-top: 15px;
	text-align: center;
}

	nav a {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
		text-decoration: none;
	}

	nav a:hover {
		color: gray;
	}

/* SECTIONS */
.container {
	position: fixed;
	top: 70px;
	height: 100%;
	width: 96%; /* SUPER HACKY - no idea why text truncates at 100%... */
	padding: 10px;
}

	/* ABOUT SECTION */
	#blurb {
		width: 50%;
		height: 100%;
		float: left;
	}

	#imgself {
		width: 50%;
		height: 100%;
		background: red;
		float: right;
	}

/* VISIBILITY */
.hide {
	display: none;
}


