body {
	margin: 0;
	height: 100%;
	width: 100%;

}

/* ----- SPLASH PAGE ----- */
.splash-container {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: black;
}
	#splash-background {
		height: 99.5%;
		width: 100%;
	}
	#menu-container {
		position: absolute;
		top: 10%;
		/* deal w this if you want to try centering
		left: auto;
		right: auto; */
		padding: 10px;
		background: black;
		background: rgba(0,0,0,0.85);
	}
	.menu {
		color: white;
		font-family: sans-serif;
	}
	.icon {
		height: 75px;
		width: 75px;
	}
	#footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		background: black;
		background: rgba(0,0,0,0.85);
		color: white;
	}
	#footer-img {
		width: 100%;
	}

/* ----- FOLIO ----- */
.hide{
	/* display: none; */
}

#folio-menu {
	background-color: black;
	padding: 10px;
	color: white;
}
#folio {
}
.thumbnail-container {
	height: 250px;
	width: 325px;
	background-color: red;
	margin: 10px;
}

.thumbnail-picture {
	background-image: url("img/portrait.jpg");
	height: 200px;
	width: 325px;
	background-position: center;
	background-size: cover;
	/*background-color: green;*/
}

.thumbnail-title {
	font-size: 16pt;
}
.thumbnail-tagline {
	font-size: 11pt;
	font-style: italic;
}

.crop {
	width: ;
}