/* FILTERING */
.active {
}

.inactive {
	display: none;
}


/* TILE ITEM TEMPLATE */
.item-container {
	height: 250px;
	width: 400px;
	background-color: red;
}

.item-image {
	height: 195px;
	width: 400px;
	background-color: green;
}

.item-title {
	background-color: white;
	font-size: 30px;
}

.item-blurb {
	background-color: white;
}