/* FILTERING */
.active {
}

.inactive {
	display: none;
}


/* TILE ITEM TEMPLATE */
.item-container {
	background-color: red;
}

.item-image {
	background-color: green;
}

.item-snippet {
	background-color: gray;
}